{% extends "layout.html" %}
{% block title %}DASHER Configuration{% endblock %}
{% block content %}
<form action="setprofile" method="POST">
  <table class="span5 table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Resolution</th>
        <th>Bitrate</th>
        <th>FPS</th>
        <th>Active?</th>
      </tr>
    </thead>
    <tbody>
    {% set i = 0 %}
    {% for profile in prof %}
      <tr>
        <th>{{ i }}</th>
        <th>{{ profile['width'] }}x{{ profile['height'] }}</th>
        <th>{{ profile['bitrate'] }}</th>
        <th>{{ profile['fps'] }}</th>
        {% if profile['active'] %}
          <th><input type="submit" id="{{ i }}" name="{{ i }}" value="Deactivate" class="btn btn-success"></th>
        {% else %}
	  <th><input type="submit" id="{{ i }}" name="{{ i }}" value="Activate" class="btn btn-danger"></th>
        {% endif %}
      </tr>
    {% set i = i + 1 %}
    {% endfor %}
    </tbody>
  </table>
</form>
{% endblock %}
